.enigma-grid {
  display: grid;
  /* font-family: pixel; */
  width: 1208px;
  height: 858px;
  grid-template-rows: 7% 40% 55% 6.5%;
  overflow: hidden;
}

.tv-border {
  background-color: #131414;
  border-radius: 20px / 10px;
  width: 100%;
  height: 100%;
  padding: 5px 10px 5px 10px;
}
.tv-bezel {
  background-color: #373b3d;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50px / 60px;
  padding: 2px 5px 2px 5px;
  box-shadow: inset 0 0 5px #000, 0 0 5px #000;
}

.tv-screen {
  background-image: radial-gradient(
      0.5% 8% at 2% 30%,
      rgba(255, 255, 255, 0.657) 25%,
      #fff0
    ),
    radial-gradient(10% 2% at 25% 5%, rgba(255, 255, 255, 0.774) 35%, #fff0),
    radial-gradient(100% 150% at 50% 50%, #0000 32%, #000 60%),
    radial-gradient(200% 120% at 50% 53%, #0000 32%, #000 60%),
    repeating-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 1px,
      rgba(0, 0, 0, 0.6) 2px,
      rgba(0, 0, 0, 0.6) 3px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 3px,
      rgba(0, 0, 0, 0.1) 3px,
      rgba(0, 0, 0, 0.1) 5px
    );

  color: rgba(0, 255, 0, 0.9);
  text-shadow: 0px 2px 8px rgba(0, 155, 0, 0.9);
  width: 100%;
  height: 100%;
  border-radius: 40px / 70px;
  background-color: #2c3d37;
  box-shadow: 0 0 5px #000;
}

.tv-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 8% 40% 42%;
}

@keyframes tv-refresh {
  0% {
    opacity: 0.94;
  }
  100% {
    opacity: 1;
  }
}

.hint-box {
  border: 1px solid rgba(255, 0, 0, 0.808);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 4px 2px 4px;
}

.red-input {
  border: 1px solid rgba(255, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
  background: rgba(150, 0, 0, 0.2);
  color: rgba(255, 100, 100, 1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 4px 2px 4px;
}
.red-input::placeholder {
  color: rgba(255, 0, 0, 0.9);
}

.blue-hint-box {
  border: 1px solid rgba(100, 200, 255, 0.9);
  box-shadow: 0 0 5px rgba(100, 200, 255, 0.9);
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 4px 2px 4px;
}

.blue-input {
  border: 1px solid rgba(100, 200, 255, 0.8);
  box-shadow: 0 0 5px rgba(100, 200, 255, 0.8);
  background: rgba(50, 100, 150, 0.3);
  color: rgba(100, 200, 255, 1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 4px 2px 4px;
}
.blue-input::placeholder {
  color: rgba(100, 200, 255, 0.9);
  text-shadow: 0px 2px 8px rgba(100, 200, 255, 0.9);
  color: rgba(100, 200, 255, 0.6);
}

.screen-bottom {
  display: grid;
  grid-template-rows: 60% 40%;
}

.screen-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  align-content: center;
}

.confirm-button {
  color: rgba(0, 255, 0, 0.9);
  text-align: center;
  font-size: 18px;
  height: 100%;
  text-shadow: rgba(0, 155, 0, 0.9);
  box-shadow: inset 0 0 2px rgba(0, 255, 0, 0.8), 0 0 2px rgba(0, 255, 0, 0.8);
  background-color: rgba(0, 87, 0, 0.4);
  border-radius: 5px;
  border: 1px;
  border: solid;
  border-color: rgba(0, 167, 0, 0.4);
  margin: 4px 40px 10px 40px;
}

.confirm-button:hover {
  color: rgba(0, 50, 0, 0.9);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 255, 0, 0.8);
}

.inactive-button {
  color: rgba(0, 200, 0, 0.5);
  text-align: center;
  height: 100%;
  font-size: 18px;
  background-color: rgba(0, 87, 0, 0.4);
  border-radius: 5px;
  border: 1px;
  border: solid;
  border-color: rgba(0, 167, 0, 0.4);
  margin: 4px 40px 10px 40px;
}

.red-print-button {
  text-align: center;
  height: 100%;
  color: rgba(255, 0, 0, 0.9);
  font-size: 18px;
  text-shadow: rgba(155, 0, 0, 0.9);
  box-shadow: inset 0 0 2px rgba(255, 0, 0, 0.8), 0 0 2px rgba(255, 0, 0, 0.8);
  background-color: rgba(80, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px;
  border: solid;
  border-color: rgba(167, 0, 0, 0.4);
  margin: 4px 40px 10px 40px;
}

.red-print-button:hover {
  color: rgba(50, 0, 0, 0.9);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 0, 0, 0.8);
}

.blue-print-button {
  text-align: center;
  height: 100%;
  color: rgba(100, 200, 255, 0.9);
  font-size: 18px;
  text-shadow: rgba(70, 100, 200, 0.9);
  box-shadow: inset 0 0 2px rgba(100, 200, 255, 0.8),
    0 0 2px rgba(100, 200, 255, 0.8);
  background-color: rgba(30, 40, 100, 0.4);
  border-radius: 5px;
  border: 1px;
  border: solid;
  border-color: rgba(100, 200, 255, 0.6);
  margin: 4px 40px 10px 40px;
}

.blue-print-button:hover {
  color: rgba(0, 0, 50, 0.9);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  background-color: rgba(100, 200, 255, 0.8);
}

.blue-team-chat {
  border: 1px solid rgba(100, 200, 255, 0.8);
  box-shadow: 0 0 5px rgba(100, 200, 255, 0.8);
  background: rgba(50, 100, 150, 0.3);
  color: rgba(100, 200, 255, 1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 4px 2px 4px;
}
.blue-team-chat::placeholder {
  color: rgba(100, 200, 255, 0.9);
  text-shadow: 0px 2px 8px rgba(100, 200, 255, 0.9);
  color: rgba(100, 200, 255, 0.6);
}

.input-box {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.hint-boxes {
  display: grid;
  align-items: center;
  color: rgba(255, 50, 50, 0.8);
  text-shadow: 0px 2px 8px rgba(36, 21, 21, 0.9);
}
.blue-hint-boxes {
  display: grid;
  align-items: center;
  color: rgba(100, 200, 255, 0.8);
  text-shadow: 0px 2px 8px rgba(36, 21, 21, 0.9);
}

.red-screen-text {
  color: rgba(255, 50, 50, 0.8);
  text-shadow: 0px 2px 8px rgba(255, 0, 0, 0.9);
}
.blue-screen-text {
  color: rgba(100, 200, 255, 0.9);
  text-shadow: 0px 2px 8px rgba(100, 200, 255, 0.9);
}

.code-box {
  display: grid;
  grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  align-items: center;
  justify-content: center;
  border: 4px double rgba(0, 255, 0, 0.8);
}

.words-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-radius: 15px;
  background-color: #292c2d;
  justify-content: center;
  align-content: center;
}

.word-border {
  border: 9px solid transparent;
  border-image: url("./border.png") round;
  border-image-slice: 100 fill;
  border-image-repeat: stretch;
  border-radius: 10% / 10%;
  background-color: #000;
  margin-left: 3px;
  margin-right: 3px;
}

.red-screen {
  position: relative;
  background-image: radial-gradient(2px 8px at 2% 50%, #fff 25%, #fff0),
    radial-gradient(22px 3px at 35% 5%, #fff 35%, #fff0),
    radial-gradient(8px 2px at 82% 10%, #fff 25%, #fff0),
    radial-gradient(100% 175% at 50% 50%, #0000 32%, #000 60%),
    radial-gradient(175% 100% at 50% 53%, #0000 32%, #000 60%),
    repeating-linear-gradient(0deg, #000, #000 3px, rgb(255, 0, 0) 4px);
  color: rgb(255, 0, 0);
}

.blue-screen {
  position: relative;
  background: radial-gradient(2px 8px at 2% 50%, #fff 25%, #fff0),
    radial-gradient(22px 3px at 35% 5%, #fff 35%, #fff0),
    radial-gradient(8px 2px at 82% 10%, #fff 25%, #fff0),
    radial-gradient(100% 175% at 50% 50%, #0000 32%, #000 60%),
    radial-gradient(175% 100% at 50% 53%, #0000 32%, #000 60%),
    repeating-linear-gradient(0deg, #000, #000 3px, rgb(0, 150, 255) 4px);
  color: rgb(0, 150, 255);
}

.word-screen {
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0), black),
    repeating-linear-gradient(0deg, #000, #000 3px, rgb(0, 255, 0) 4px);
  color: rgb(0, 255, 0);
}

.word-screen::before {
  content: "";
  position: absolute;
  margin: 10;

  background: radial-gradient(rgba(0, 0, 0, 0), black),
    repeating-linear-gradient(0deg, #000, #000 3px, rgb(0, 255, 0) 4px);
  color: rgb(0, 255, 0);
}

.icon-box {
  display: grid;
  align-content: center;
  justify-content: center;
}

.input-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.red-input-container {
  display: grid;
  grid-template-columns: 9% 82% 9%;
  grid-template-rows: 13% 29% 29% 29%;
  border: 2px solid rgb(150, 0, 0);
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  background-color: rgb(100, 0, 0);
}
.blue-input-container {
  display: grid;
  grid-template-columns: 9% 9% 82%;
  grid-template-rows: 13% 29% 29% 29%;
  border: 2px solid rgb(0, 0, 150);
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  background-color: rgb(0, 0, 100);
}

.enigma-tabs {
  display: grid;
  grid-template-columns: 50% 50%;
}

.e-tab {
  width: 100%;
  text-align: center;
}

.hist-btn {
  width: 98%;
}

.history-lists {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.word-history {
  margin: 5px;
  background-color: aliceblue;
}

.status-box {
  display: grid;
  grid-template-columns: 40% 10% 35% 15%;
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
  margin-bottom: 4px;
}
.red-num-selector {
  font-size: 24px;
  border: 1px solid rgb(255, 0, 0);
  margin: 2px 2px 2px 2px;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
}

.red-num-selector:hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(200, 0, 0, 0.6);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.red-checked-selector {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(255, 0, 0, 0.9);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.blue-num-selector {
  font-size: 24px;
  border: 1px solid rgb(100, 200, 255);
  margin: 2px 2px 2px 2px;
  box-shadow: 0 0 8px rgba(100, 200, 255, 0.6);
}

.blue-num-selector:hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(80, 160, 200, 0.6);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.blue-checked-selector {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(100, 200, 255, 0.9);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.selector-box {
  display: grid;
  justify-content: center;
  align-items: center;
  line-height: 180%;
}

/* .num-btn{
  font-family: 'Courier New', Courier, monospace;
} */

.num-border {
  border-radius: 90% / 15%;
  position: relative;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: linear-gradient(90deg, #ddd 15%, #999 30%, #999 70%, #ddd 85%);
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

.num-border::before {
  box-sizing: content-box;
  position: absolute;
  content: "";
  top: 8%;
  right: -8%;
  bottom: 8%;
  left: -8%;
  border: none;
  border-radius: 5% / 50%;
  background: linear-gradient(#ddd 5%, #999 20%, #999 80%, #ddd 95%);
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}

.confirm-box {
  border: 10px solid transparent;
  border-image: url("./screwborder.png") round;
  border-image-slice: 100 fill;
  border-image-repeat: stretch;
}

.team-chat {
  background-color: rgba(0, 90, 0, 0.4);
  border-color: rgb(0, 200, 0);
  border: 1px solid;
  border-radius: 4px;
}

.printer::before {
  background-color: #555;
  position: relative;
  border-radius: 5px;
  width: 1200px;
  height: 10px;
  display: block;
  content: "";
}

.paper {
  margin-left: 5px;
  margin-right: 5px;
  width: 1190px;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.blueType {
  color: rgba(0, 0, 200, 0.6);
}
.redType {
  color: rgba(200, 0, 0, 0.6);
}

.histColumn {
  border-left: 2.5px dotted #cde1d0;
  padding-right: 3px;
  padding-left: 3px;
}

.sheet1 {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-name: print1;
  position: relative;
}
.sheet2 {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-name: print2;
  position: relative;
}
.sheet3 {
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-name: print3;
  position: relative;
}
.sheet4 {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-name: print4;
  position: relative;
}
.sheet5 {
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-name: print5;
  position: relative;
}
.sheet6 {
  animation-duration: 3.2s;
  animation-timing-function: linear;
  animation-name: print6;
  position: relative;
}
.sheet7 {
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-name: print7;
  position: relative;
}
.sheet8 {
  animation-duration: 4.4s;
  animation-timing-function: linear;
  animation-name: print8;
  position: relative;
}


.line {
  display: flex;
  font-size: 18px;
  font-family: "DOTMATRI", "Courier New", Courier, monospace;
}

@keyframes print1 {
  from {
    top: -48px;
    height: 0;
  }

  25% {
    top: -24px;
    height: 24px;
  }

  75% {
    top: -24px;
    height: 24px;
  }

  to {
    top: 0;
    height: 48px;
  }
}

@keyframes print2 {
  from {
    top: -96px;
    height: 0;
  }

  10% {
    top: -72px;
    height: 24px;
  }

  30% {
    top: -72px;
    height: 24px;
  }

  40% {
    top: -48px;
    height: 48px;
  }
  60% {
    top: -48px;
    height: 48px;
  }

  70% {
    top: -24px;
    height: 72px;
  }
  90% {
    top: -24px;
    height: 72px;
  }
  to {
    top: 0;
    height: 96px;
  }
}

@keyframes print3 {
  from {
    top: -144px;
    height: 0;
  }

  6.25% {
    top: -120px;
    height: 24px;
  }

  18.75% {
    top: -120px;
    height: 24px;
  }

  25% {
    top: -96px;
    height: 48px;
  }
  37.5% {
    top: -96px;
    height: 48px;
  }

  43.75% {
    top: -72px;
    height: 72px;
  }
  56.25% {
    top: -72px;
    height: 72px;
  }
  62.5% {
    top: -48px;
    height: 96px;
  }
  75% {
    top: -48px;
    height: 96px;
  }
  81.25% {
    top: -24px;
    height: 120px;
  }
  93.75% {
    top: -24px;
    height: 120px;
  }
  to {
    top: 0;
    height: 144px;
  }
}

@keyframes print4 {
  from {
    top: -192px;
    height: 0;
  }
  4% {
    top: -168px;
    height: 24px;
  }
  12% {
    top: -168px;
    height: 24px;
  }
  16% {
    top: -144px;
    height: 48px;
  }
  24% {
    top: -144px;
    height: 48px;
  }
  28% {
    top: -120px;
    height: 72px;
  }
  36% {
    top: -120px;
    height: 72px;
  }
  40% {
    top: -96px;
    height: 96px;
  }
  48% {
    top: -96px;
    height: 96px;
  }
  52% {
    top: -72px;
    height: 120px;
  }
  60% {
    top: -72px;
    height: 120px;
  }
  64% {
    top: -48px;
    height: 144px;
  }
  72% {
    top: -48px;
    height: 144px;
  }
  76% {
    top: -24px;
    height: 168px;
  }
  84% {
    top: -24px;
    height: 168px;
  }
  88% {
    top: 0px;
    height: 192px;
  }
  to {
    top: 0;
    height: 192px;
  }
}

@keyframes print5 {
  from {
    top: -240px;
    height: 0;
  }
  3.125% {
    top: -216px;
    height: 24px;
  }
  9.375% {
    top: -216px;
    height: 24px;
  }
  12.5% {
    top: -192px;
    height: 48px;
  }
  18.75% {
    top: -192px;
    height: 48px;
  }
  21.875% {
    top: -168px;
    height: 72px;
  }
  28.125% {
    top: -168px;
    height: 72px;
  }
  31.25% {
    top: -144px;
    height: 96px;
  }
  37.5% {
    top: -144px;
    height: 96px;
  }
  40.625% {
    top: -120px;
    height: 120px;
  }
  46.875% {
    top: -120px;
    height: 120px;
  }
  50% {
    top: -96px;
    height: 144px;
  }
  56.25% {
    top: -96px;
    height: 144px;
  }
  59.375% {
    top: -72px;
    height: 168px;
  }
  62.5% {
    top: -72px;
    height: 168px;
  }
  68.75% {
    top: -48px;
    height: 192px;
  }
  71.875% {
    top: -48px;
    height: 192px;
  }
  78.125% {
    top: -24px;
    height: 216px;
  }
  81.25% {
    top: -24px;
    height: 216px;
  }
  87.5% {
    top: -0px;
    height: 240px;
  }
  to {
    top: 0;
    height: 240px;
  }
}
@keyframes print6 {
  from {
    top: -288px;
    height: 0;
  }
  2.5% {
    top: -264px;
    height: 24px;
  }
  7.5% {
    top: -264px;
    height: 24px;
  }
  10% {
    top: -240px;
    height: 48px;
  }
  15% {
    top: -240px;
    height: 48px;
  }
  17.5% {
    top: -216px;
    height: 72px;
  }
  22.5% {
    top: -216px;
    height: 72px;
  }
  25% {
    top: -192px;
    height: 96px;
  }
  30% {
    top: -192px;
    height: 96px;
  }
  32.5% {
    top: -168px;
    height: 120px;
  }
  40% {
    top: -168px;
    height: 120px;
  }
  45% {
    top: -144px;
    height: 144px;
  }
  45% {
    top: -144px;
    height: 144px;
  }
  47.5% {
    top: -120px;
    height: 168px;
  }
  52.5% {
    top: -120px;
    height: 168px;
  }
  55% {
    top: -96px;
    height: 192px;
  }
  60% {
    top: -96px;
    height: 192px;
  }
  62.5% {
    top: -72px;
    height: 216px;
  }
  67.5% {
    top: -72px;
    height: 216px;
  }
  70% {
    top: -48px;
    height: 240px;
  }
  75% {
    top: -48px;
    height: 240px;
  }
  77.5% {
    top: -24px;
    height: 264px;
  }
  82.5% {
    top: -24px;
    height: 264px;
  }
  85% {
    top: -0px;
    height: 288px;
  }
  to {
    top: 0;
    height: 288px;
  }
}

@keyframes print7 {
  from {
    top: -336px;
    height: 0;
  }
  2.5% {
    top: -312px;
    height: 24px;
  }
  7.5% {
    top: -312px;
    height: 24px;
  }
  10% {
    top: -288px;
    height: 48px;
  }
  15% {
    top: -288px;
    height: 48px;
  }
  17.5% {
    top: -264px;
    height: 72px;
  }
  22.5% {
    top: -264px;
    height: 72px;
  }
  25% {
    top: -240px;
    height: 96px;
  }
  30% {
    top: -240px;
    height: 96px;
  }
  32.5% {
    top: -216px;
    height: 120px;
  }
  40% {
    top: -216px;
    height: 120px;
  }
  45% {
    top: -192px;
    height: 144px;
  }
  45% {
    top: -192px;
    height: 144px;
  }
  47.5% {
    top: -168px;
    height: 168px;
  }
  52.5% {
    top: -168px;
    height: 168px;
  }
  55% {
    top: -144px;
    height: 192px;
  }
  60% {
    top: -144px;
    height: 192px;
  }
  62.5% {
    top: -120px;
    height: 216px;
  }
  67.5% {
    top: -120px;
    height: 216px;
  }
  70% {
    top: -96px;
    height: 240px;
  }
  75% {
    top: -96px;
    height: 240px;
  }
  77.5% {
    top: -72px;
    height: 264px;
  }
  82.5% {
    top: -72px;
    height: 264px;
  }
  85% {
    top: -48px;
    height: 288px;
  }
  90% {
    top: -48px;
    height: 288px;
  }
  92.5% {
    top: -24px;
    height: 312px;
  }
  97% {
    top: -24px;
    height: 312px;
  }
  to {
    top: 0;
    height: 336px;
  }
}

@keyframes print8 {
  from {
    top: -384px;
    height: 0;
  }
  2% {
    top: -360px;
    height: 24px;
  }
  6% {
    top: -360px;
    height: 24px;
  }
  8% {
    top: -336px;
    height: 48px;
  }
  12% {
    top: -336px;
    height: 48px;
  }
  14% {
    top: -312px;
    height: 72px;
  }
  18% {
    top: -312px;
    height: 72px;
  }
  20% {
    top: -288px;
    height: 96px;
  }
  24% {
    top: -288px;
    height: 96px;
  }
  26% {
    top: -264px;
    height: 120px;
  }
  30% {
    top: -264px;
    height: 120px;
  }
  32% {
    top: -240px;
    height: 144px;
  }
  36% {
    top: -240px;
    height: 144px;
  }
  38% {
    top: -216px;
    height: 168px;
  }
  42% {
    top: -216px;
    height: 168px;
  }
  44% {
    top: -192px;
    height: 192px;
  }
  48% {
    top: -192px;
    height: 192px;
  }
  50% {
    top: -168px;
    height: 216px;
  }
  54% {
    top: -168px;
    height: 216px;
  }
  56% {
    top: -144px;
    height: 240px;
  }
  60% {
    top: -144px;
    height: 240px;
  }
  62% {
    top: -120px;
    height: 264px;
  }
  66% {
    top: -120px;
    height: 264px;
  }
  68% {
    top: -96px;
    height: 288px;
  }
  72% {
    top: -96px;
    height: 288px;
  }
  74% {
    top: -72px;
    height: 312px;
  }
  78% {
    top: -72px;
    height: 312px;
  }
  80% {
    top: -48px;
    height: 336px;
  }
  84% {
    top: -48px;
    height: 336px;
  }
  86% {
    top: -24px;
    height: 360px;
  }
  90% {
    top: -24px;
    height: 360px;
  }
  to {
    top: 0;
    height: 384px;
  }
}

.edge {
  width: 48px;
  height: 48px;
  background: radial-gradient(
    circle at 22.5%,
    transparent,
    transparent 7%,
    #ccc 8%,
    #ccc 8%,
    #f4f3f2 9%
  );
  background-size: 96px 24px;
  background-repeat: repeat-y;
  background-position: 0 20px;
}

.content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  height: 48px;
  background: repeating-linear-gradient(
    #f4f3f2,
    #f4f3f2 12px,
    #cde1d0 12px,
    #cde1d0 24px
  );
  border-left: 2.5px dotted #cde1d0;
  border-right: 2.5px dotted #cde1d0;
  padding: 0 12px;
  overflow: hidden;
  box-sizing: border-box;
}

@font-face {
  font-family: "DOTMATRI";
  src: url("./fonts/DOTMATRI.TTF") format("truetype");
}

#println {
  margin-bottom: 4px;
}

.shredder {
  position: relative;
  width: 1200px;
  height: 60px;
  content: " ";
  background: repeating-linear-gradient(
      #888888,
      #949494 1px,
      #000000 4px,
      #8f8f8f 7px,
      #8f8f8f 10px,
      #000000 12px,
      #8d8d8d 16px,
      #a3a3a3 20px,
      #000000 24px,
      #626262 28px,
      #8f8f8f 36px,
      #000000 40px,
      #6d6d6d 44px,
      #8f8f8f 52px,
      #000000 56px
    ),
    linear-gradient(#d3d3d3, black);
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
