.carousel {
    display: inline-flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }

.game-box{
    display: grid;
    justify-content: center;
    align-content: center;
}

.App{
    height: 100%;
    width: 100%;
    overflow: auto;
}