.whole-room{
    display:grid;
    grid-template-rows: 60px;
    height:100vh;
    width: 100vw;
}

.game-and-sidebars{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-flow: column;
    height: 100%;
    width: 100%;
}


.game-window{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}