.container {
  width: 60%;
  height: 100%;
}

.color-picker-container{
  text-align: center;
}

.board-container{
  /* width: 60%;
  height: 60%; */
  margin: auto;
  margin-top: 1%;
  background: white;
}

canvas#board.board{
  /* width: 100%;
  height: 100%; */
  width: 800px;
  height: 500px;
}

.sketch{
  /* width: 60%;
  height: 60%; */
} 

.color {
  display: inline-block;
  height: 28px;
  width: 28px;
}

/* .color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white; } */

.color.black {background-color: #000000; }
.color.white {background-color: #ffffff; }
.color.darkGray {background-color: #6e6e6e; }
.color.lightGray {background-color: #cccccc; }
.color.maroon {background-color: #4f0000; }
.color.brown {background-color: #854500 ;}
.color.red {background-color: #db0000; }
.color.lightpink {background-color: #fcbdf6; }
.color.orange {background-color: #fc8200; }
.color.lightOrange {background-color: #ffc60d; }
.color.yellow {background-color: #fff700; }
.color.lightYellow {background-color: #fffca1; }
.color.green {background-color: #198000; }
.color.lightGreen {background-color: #32ff00; }
.color.blue {background-color: #0011ff; }
.color.lightBlue {background-color: #00ecf0; }
.color.indigo {background-color: #271069; }
.color.lightIndigo {background-color: #8c93d1; }
.color.purple {background-color: #6e00e3; }
.color.lightPurple {background-color: #d9c5f0; }

.grid-container{
  display: grid;
  width: 800px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20px auto auto;
}
div.grid-item.item-3{
  grid-column: 1 / 3;
}
.item-4{
  grid-column: 1 / 3;
}
.item-2{
  text-align: right;
}
