.container {
  /* position: fixed; */
  width: 60%;
  height: 100%;
}

.color-picker-container{
  text-align: center;
}

.board-container{
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 1%;
  background: white;
}

.board{
  width: 100%;
  height: 100%;
}

.sketch{
  width: 60%;
  height: 60%;
} 